 button {
   margin-top: 10px;
   border-radius: 20px;
   width: 100px;
   height: 40px;
 }

 form {
   margin: auto;
   margin-top: 25vh;
   max-width: 750px;
   padding: 20px;
   background: #f4f4f4;
   border-radius: 25px;
 }

 .createquestion {
   &_title {
     text-align: center;
   }

   &_item {
     display: flex;
     justify-content: center;
   }

   &_button {
     display: flex;
     justify-content: space-around;
   }

   &_input {
     margin-left: 20px;
     margin-bottom: 35px;
   }

   &_textarea {
     margin-left: 20px;
     margin-bottom: 30px;
   }

   &_tags {
     width: 500px;
     display: flex;
     justify-content: space-around;
   }
 }

 .error {
   color: red;

   &_tags {
     margin-left: 88px;
     color: red;
   }
 }

 .textarea {
   width: 500px;
   height: 250px;
   &:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
 }

 .input {
   width: 500px;
   height: 50px;
   padding: 0.375rem 0.75rem;
   border: 1px solid #ced4da;
   &:focus {
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgb(13 110 253 / 25%);
  }
 }
