<div class="toolbar" role="banner">
  <span>LOGO</span>
  <div class="spacer"></div>
  <button mat-raised-button color="primary" *ngIf="authService.user | async" routerLink="quastion">
    Новый Вопрос
  </button>
  <a rel="noopener" title="User">
    <img
      id="user-logo"
      src="http://s1.iconbird.com/ico/0612/GooglePlusInterfaceIcons/w128h1281338911651user.png"
      alt=""
    />
  </a>
  <div *ngIf="(authService.user | async) as user" class="toolbar__auth">
    <p>{{ user.email ? (user.email | userName) : "User" }}</p>
    <div class="example-button-container" style="margin-left: 10px;">
      <button mat-mini-fab [matMenuTriggerFor]="menu" color="primary" aria-label="Example icon button with a menu icon">
        <mat-icon>menu</mat-icon>
      </button>
    </div>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="signOut()">Выйти</button>
    </mat-menu>
  </div>
</div>
