<mat-checkbox style="margin: 4px;" (click)="toggleMyQuestion()" >Only my questions</mat-checkbox>
<div class="filter">
  
  <form [formGroup]="form">
    <mat-form-field appearance="fill">
      <mat-label>Questions</mat-label>
      <mat-select formControlName="isAnswer">
        <mat-option>
          All
        </mat-option>
        <mat-option  value="true">
          Is answered
        </mat-option>
        <mat-option  value="false">
          Is not answered
        </mat-option>
      </mat-select>
    </mat-form-field>
  
    <mat-form-field appearance="fill">
      <mat-label>Tags</mat-label>
      <mat-select formControlName="tags" multiple>
        <mat-option *ngFor="let tag of TAGS" [value]="tag">{{tag}}</mat-option>
      </mat-select>
    </mat-form-field> 

    <mat-form-field appearance="fill">
      <mat-label>In a period</mat-label>
      <mat-select formControlName="sortDay">
        <mat-option [value]="0">
          None
        </mat-option>
        <mat-option [value]="1">
          Оne day ago
        </mat-option>
        <mat-option [value]="7">
          Оne week ago
        </mat-option>
        <mat-option [value]="30">
          One month ago
        </mat-option>
      </mat-select>
    </mat-form-field>
  </form>

  <div class="filter_date">
    <button mat-raised-button (click)="isSort = !isSort">
      <mat-icon>swap_vert</mat-icon>
      sort
    </button>
    <a class="toggleDisplay" style="font-size: 41px;" (click)="toggleDisplay()">
      <mat-icon *ngIf="!toggle">reorder</mat-icon>
      <mat-icon *ngIf="toggle">view_module</mat-icon>
    </a>
    <mat-slide-toggle (click)="toggleDarkMode()" [(ngModel)]="isDarkMode">Dark mode</mat-slide-toggle>
  </div>

</div>

<div *ngIf="userData" [ngClass]="{'questionsCards_row': toggle, 'questionsCards': !toggle}">
  <app-question-card 
    (onChanged)="updateQuestion()"
    *ngFor="let question of (questions | myQuestions: isMyQuestion : userData | tagSort: form.get('tags').value | answerSort: form.get('isAnswer').value | sortByDay: +form.get('sortDay').value | dateSort: isSort)" 
    [post] = question 
    [toggle]="toggle" 
    [ngClass]="{questionCard: !toggle}">
</app-question-card>
</div>

<a routerLink="{{PATHS.CREATE_QESTION}}" class="circle"></a>